<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byUtc" datePattern="yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" timeZone="UTC"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS,UTC} %-5level [%thread] cid=%X{cid:-N/A} %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
